# Gradle
.gradle/
build/
*.apk
*.aar

# Android Studio
.idea/
*.iml
*.iws
*.ipr
.DS_Store

# Local configuration file
local.properties

# Signing files
*.jks
*.keystore

# Misc
.classpath
.project
.settings/
*.class
*.jar
*.log

# Buildozer
.buildozer/
bin/
gradle/wrapper/gradle-7.5-bin.zip
