name: Build and Release APK

on:
  push:
    branches:
      - main
      - master

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Download Gradle Wrapper JAR
        run: |
          mkdir -p gradle/wrapper
          wget -qO gradle/wrapper/gradle-wrapper.jar https://raw.githubusercontent.com/gradle/gradle/v7.5.0/gradle/wrapper/gradle-wrapper.jar

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle (Debug Signed)
        run: ./gradlew assembleDebug

      - name: Get Build Number
        id: build_number
        run: echo "count=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_OUTPUT

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v1.0.build-${{ steps.build_number.outputs.count }}
          name: Release v1.0.build-${{ steps.build_number.outputs.count }}
          draft: false
          prerelease: false
          files: |
            app/build/outputs/apk/debug/*.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
